body, html {
  background-color: rgb(103, 178, 235);
  height: 100%;
  overflow: hidden;
}

#perso{
  position:absolute;
}

#piece{
  position:absolute;
}

#gameover{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
